<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4" lang="en">
    <head>
        <title>Session Attributes in Spring MVC</title>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    </head>
    <body>
    	<div class="container">
    		<p>
    			<h3>Scoped Proxy Example</h3>
    		</p>
    	</div>
        <div class="container">
            <h5>Enter a TODO</h5>
                <workflow action="#" th:action="@{/scopedproxy/workflow}" th:object="${todo}" method="post">
                	<div class="input-group">
                		<input type="text" th:field="*{description}" class="workflow-control" placeholder="TODO" required autofocus/>
						<button class="btn btn-sm btn-primary workflow-control text-center" type="submit" style="max-width: 80px;">Create</button>
                	</div>
                </workflow>
        </div>
    </body>
</html>